:root {
    --nav-color: #0044ff;
    --roxinho: #f6b6eb;
    --article-border-color: #ba5741;

    --bege: #f0eecf;

    color: white;

}

@font-face {
    font-family: Chicago;
    src: url("../font/chicago.ttf") format('truetype');
    font-style: normal;
}

header {
    display: flex;
    color: white;
    justify-content: center; /* Altere para 'center' para centralizar horizontalmente */
    align-items: center; /* Adicione esta linha para centralizar verticalmente */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
main {
    width: 80%;
    margin: 0 auto;
    flex: 1;
}
  
footer {
    display: flex;
    justify-content: center;
}
  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 300px;
    margin-top: 10px;
    color: var(--bege); 
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

html {
	background: white url(../images/rainbowstr.gif) repeat;
    /* height: 100%; */
    width: 100%;
}

.text-spot {
    display: block;
    background-color: var(--bege);
    width: 70%;
    height: auto; /* 'auto' para ajustar a altura conforme o conteúdo */
    margin: 20 auto; /* Simplificado para centralizar horizontalmente */
    align-self: center;
    padding: 20px;
    text-align: center;
    border: 5px solid var(--primary-color);
    position: relative;
}

.return-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 30%;
}

.return-box {
    display: block;
    background-color: white;
    width: 50px;
    margin: 0 0 0 0;
    bottom: 240;
    left: 10%;
    z-index: 3;
    position: relative;
    border: 5px solid var(--nav-color)
}

.textaozao {
    font-size: 5em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.textao {
    font-size: 2.5em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.texto {
    font-size: 1.5em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.nav-texto {
    font-size: 1.5em;
    color: white;
    font: 'Chicago', 'sans-serif';
}

h2 {
    text-align: center;
    color: pink;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    background-color: var(--nav-color);
    margin: 10px;
    padding: 10px;
    border: 5px solid var(--article-border-color);
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

/* Adicione um estilo especial para a página atual selecionada */
nav a.current {
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(163, 31, 31); /* Cor de destaque da página atual */
    font: 'Chicago', 'sans-serif';
}

.post-box {
    display: block;
    background-color: var(--bege);
    width: 75%;
    height: auto; /* 'auto' para ajustar a altura conforme o conteúdo */
    margin: 20 auto; /* Simplificado para centralizar horizontalmente */
    align-self: center;
    padding: 20px;
    text-align: center;
    border: 5px solid var(--primary-color);
}

.post-box:hover {
    display: block;
    background-color: var(--roxinho);
    width: 40%;
    height: auto; /* 'auto' para ajustar a altura conforme o conteúdo */
    margin: 20 auto; /* Simplificado para centralizar horizontalmente */
    align-self: center;
    padding: 20px;
    text-align: center;
    border: 5px solid var(--primary-color);
}

/* Estilos para a lista de posts */
.post-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-item {
    width: calc(25% - 20px); /* 4 colunas por padrão, com margens */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para diferentes tamanhos de tela usando media queries */

/* Para telas grandes, 4 colunas */
@media screen and (max-width: 1000px) {
    .post-item {
        width: calc(33.33% - 20px); /* 3 colunas */
    }
}

/* Para telas médias, 3 colunas */
@media screen and (max-width: 800px) {
    .post-item {
        width: calc(50% - 20px); /* 2 colunas */
    }
}

/* Para telas pequenas, 2 colunas */
@media screen and (max-width: 600px) {
    .post-item {
        width: calc(100% - 20px); /* 1 coluna */
    }
}
