<html lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    {{ partial "footer.html" . }}

    <script type="text/javascript">
        const audio = new Audio("https://www.myinstants.com/instant/windows-xp-error/embed/");
        const playButton = document.getElementById('playButton');
        
        playButton.addEventListener('click', function() {
            audio.play();
        });
    </script>

</body>

</html>
