{{ define "main" }}

<nav>
    <ul>
        <li><a href="{{ relURL "" }}" class="nav-texto" >Home</a></li>
        <li><a href="{{ relURL "about" }}" class="nav-texto">Sobre</a></li>
        <li><a href="{{ relURL "posts" }}" class="current" class="nav-texto">Posts</a></li>
    </ul>
</nav>


{{ with .Pages }}
    <!-- Se .Pages estiver definido, você pode colocar seu código aqui -->
    <ul class="post-list">
        {{ range . }}
        <li class="post-item">
            <div class = "post-box">
                <a href="{{ .RelPermalink }}">
                    <p class="post-item-text">{{ .Title }}</p>
                </a>
                <div classs="textinho"> {{ .Date }} </div>
            </div>
        </li>
        {{ end }}
    </ul>
{{ else }}
    <!-- Se .Pages não estiver definido ou estiver vazio, você pode tratar isso aqui -->
    <div class = "text-spot">
        <p class="texto">Nenhum post disponível.</p>
    </div>
{{ end }}
</div>

{{ end }}
