{{ define "main" }}

<nav>
    <ul>
        <li><a href="{{ relURL "" }}" class="nav-texto" >Home</a></li>
        <li><a href="{{ relURL "about" }}" class="nav-texto">Sobre</a></li>
        <li><a href="{{ relURL "posts" }}" class="current" class="nav-texto">Posts</a></li>
    </ul>
</nav>


{{ with .Pages }}
    <!-- Se .Pages estiver definido, você pode colocar seu código aqui -->
    <ul>
        {{ range . }}
        <li>
            <div class = "post-box">
                <a href="{{ .RelPermalink }}">
                    <p class="texto">{{ .Title }}</p>
                </a>
                <div classs="textinho"> {{ .Date }} </div>
            </div>
        </li>
        {{ end }}
    </ul>
{{ else }}
    <!-- Se .Pages não estiver definido ou estiver vazio, você pode tratar isso aqui -->
    <div class = "text-spot">
        <p class="texto">Nenhum post disponível.</p>
    </div>
{{ end }}
</div>

<!-- Box com o clippy -->
<div class="window" id="posts">
    <div class="title-bar">
        <div class="title-bar-text">Sobre</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <img id="welcome" src="{{ relURL "images/clippy.gif" }}" alt="Minha Figura" class="center" style="width: 100%;">
        <p>Como posso te ajudar?</p>
    </div>
</div>

{{ end }}
