{{ define "main" }}

<nav>
    <ul>
        <li><a href="{{ relURL "" }}" class="nav-texto" >Home</a></li>
        <li><a href="{{ relURL "about" }}" class="nav-texto">Sobre</a></li>
        <li><a href="{{ relURL "posts" }}" class="current" class="nav-texto">Posts</a></li>
    </ul>
</nav>


{{ with .Pages }}
    <!-- Se .Pages estiver definido, você pode colocar seu código aqui -->
    <ul>
        {{ range . }}
        <li>
            <a href="{{ .RelPermalink }}"> 
                <div class = "text-spot">
                    <p class="texto">{{ .Title }}</p> 
                </div>
            </a>
        </li> 
        {{ end }}
    </ul>
{{ else }}
    <!-- Se .Pages não estiver definido ou estiver vazio, você pode tratar isso aqui -->
    <p>Nenhum post disponível.</p>
{{ end }}
</div>

{{ end }}
