<footer>
    <ul>
        <li><a target="_blank" class="email" href="mailto:pedro_azeredo@usp.br"><i class="fa fa-fw fa-2x fa-envelope"></i></a></li>
        <li><a target="_blank" class="github" href="https://github.com/pedroazeredo04"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
        <li><a target="_blank" class="youtube" href="https://www.youtube.com/channel/UChl1_ea08HGh7iQO67oSkZg"><i class="fa fa-fw fa-2x fa-youtube"></i></a></li>
        <li><a target="_blank" class="instagram" href="https://www.instagram.com/pedroazeredo1205/"><i class="fa fa-fw fa-2x fa-instagram"></i></a></li>
        <li><a target="_blank" class="twitter" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
    </ul>
    <br/>
</footer>
