{{ define "main" }}
    <nav>
        <ul>
            <li><a href="{{ relURL "" }}" class="current" class="nav-texto" >Home</a></li>
            <li><a href="{{ relURL "about" }}" class="nav-texto">Sobre</a></li>
            <li><a href="{{ relURL "posts" }}" class="nav-texto">Posts</a></li>
        </ul>
    </nav>

    <section class="text-spot">
        <ul class="container">
            <li class="flex-item">
                <img id="welcome" src="{{ relURL "images/welcome.gif" }}" alt="Minha Figura" class="center">
            </li>
    
            <li class="flex-item">
                <img id="welcome" src="{{ relURL "images/blog2.gif" }}" alt="Minha Figura" class="center">
            </li>
        </ul>

        <p class="textao">Esse é o meu site!</p>

        <p class="texto">Ele é um blog</p>
    </section>

    <!-- Box sobre quem eu sou?! -->
    <div class="window" id="about">
        <div class="title-bar">
            <div class="title-bar-text">Sobre</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img id="welcome" src="{{ relURL "images/thinking2.gif" }}" alt="Minha Figura" class="center" style="width: 100%;">
            <p><a href="/pepes_blog/about">Quem sou eu?</a></p>
        </div>
    </div>

    <!-- Box os posts?! -->
    <div class="window" id="links">
        <div class="title-bar">
            <div class="title-bar-text">Posts</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img id="infinite-computer" src="{{ relURL "images/internaut.gif" }}" alt="Minha Figura" class="center" style="width: 100%;">
            <p><a href="/pepes_blog/posts">Leia meus posts!</a></p>
        </div>
    </div>

    {{ .Content }}

{{ end }}
